.site-rate {
	display: flex;
	margin-top: 50px;
	background: linear-gradient(rgb(0, 46, 250), rgb(124, 160, 240));
	width: 50%;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-direction: column;
	margin-bottom: 100px;
}
.title {
	font-size: 36px;
	color: white;
	margin-top: 40px;
}
.input-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.input {
	height: 40px;
	width: 40%;
	margin-top: 30px;
	border: none;
	outline: none;
}
.comment {
	height: 150px;
}
.buttons {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.button {
	border: none;
	font-size: 20px;
	margin-top: 15px;
	cursor: pointer;
	outline: none;
	width: 100%;
	margin: 5px;
	margin-top: 15px;
}
